################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kwikemart_API/.vs/Kwikemart_API/v15/Server/sqlite3
