@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="row">
        <div class="col-sm-5 offset-sm-6">
            <img src="~/images/logo.png" height="auto" width="80%" />
        </div>
    </div>
</div><br />

<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">ONLINE PRODUCTS</div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="dt-resultado" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Popularity</th>
                        </tr>
                    </thead>
                    <tbody id="dt-resultado-body"></tbody>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Popularity</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
    @section Scripts{

        <script type="text/javascript">

        $(document).ready(function () {
            const dtOptions = {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                order: [[0, "desc"]],
                "processing" : true,
                "serverSide": true,
                "ajax": {
                    "url":"/Home/GetAllProducts",
                    "type": "POST",
                    "datatype": "json"
                },
                "orderable":false
            };
            showLoading();
            $('#dt-resultado').DataTable(dtOptions);
            hideLoading();
        });

        function editarCotizacion(id) {
            showLoading();
            window.location.href = encodeURI('@Url.Action("Details", "Products")' + '?id=' + id);
        }

        </script>

    }
