@model List<Kwikemart_APP.Models.Products>
@if(Model != null && Model.Count > 0)
{
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Popularity</td>
            <td>
                <button onclick="editarCotizacion('@Crypt.b64Encode(item.ProductId.ToString())')" class="btn btn-success btn-sm">Details</button>
            </td>
        </tr>
    }
}